@import "tailwindcss";

@layer utilities {
  @keyframes navAnimate {
    0% { transform: scale(0); }
    80% { transform: scale(1.2); }
    100% { transform: scale(1); }
    
  }

  .animate-navAnimate {
    animation: navAnimate .3s ease-in-out forwards;
  }
}
